* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}


header h1 {
    font-size: 30px;
    text-align: center;
}



header div {
    width: 1000px;
    height: 125px;
    margin: 0px auto;

}

.displayPassword {
    text-align: center;
    background-color: silver;
    border-radius: 10px;
    color: darkgoldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-color: lightgoldenrodyellow;
}

.password {
    background-color: black;
    text-align: center;
    color: greenyellow;
    font-size: 20px;
    height: 600px inherit;

}

.addedCharacters {
    float: right;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    border-color: silver;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.displayRandomUpper {
    background-color: black;
    height: inherit;
    width: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.displayRandomLower {
    background-color: black;
    height: inherit;
    width: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.displayRandomSpecial {
    background-color: black;
    height: inherit;
    width: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.displayRandomNumbers {
    background-color: black;
    height: inherit;
    width: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.addUpper {
    background-color: red;
    border-radius: 5px;
    border-color: lightgray;
    width: inherit;
}

.addLower {
    background-color: red;
    border-radius: 5px;
    border-color: lightgray;
    width: inherit;
}

.addSpecial {
    background-color: red;
    border-radius: 5px;
    border-color: lightgray;
    width: inherit;
}

.addNumber {
    background-color: red;
    border-radius: 5px;
    border-color: lightgray;
    width: inherit
}


.error {
    display: block;
    float: right;
    background-color: rgb(233, 122, 122);
    border-radius: 10px 0px 0px 10px;
    margin: 2px;
    padding: 5px;
}