* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}


header h1 {
    font-size: 30px;
    text-align: center;
}



header div {
    width: 400px;
    height: 100px;
    margin: 0px auto;

}



.password {
    background-color: black;
    text-align: center;
    color: greenyellow;
    font-size: 20px;
}


form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.displayRandom {
    background-color: black;
    height: 50px;
    width: 50px;
    color: white;
}

.error {
    display: block;
    float: right;
    background-color: rgb(233, 122, 122);
}